{% extends 'base.html.twig' %}
{% block title %}Inicio de Sesión{% endblock %}
{% block body %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto" >
                <h4>Ingresar al Sistema</h4>
                <form action="" method="post">
                    <div class="form-group">
                        <input type="text" name="usuario"
                               placeholder="Usuario" class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password"
                               placeholder="Contraseña" class="form-control">
                    </div>
                    <input type="submit" value="Ingresar"
                           class="btn btn-primary btn-block">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
